{% extends "base.html" %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">
                MEDICARE HOSPITAL
            </h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
                The good physician treats the disease; the great physician treats the patient who has the disease.
            </p>
        </div>
        <div class="p-2 sm:w-1/2 lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
            <p>PHYSICIANS</p>
        </div>
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
            
            {% for physician in object_list %}
            <div class="p-2 sm:w-1/2 w-full">
                <div class="bg-gray-100 rounded flex p-4 h-full items-center">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                    <span class="title-font font-medium">
                        <a href="{% url 'physicians:physician-detail' physician.pk %}">{{physician.user.first_name}}
                            {{physician.user.last_name}} : {{physician.user.email}}</a>
                    </span>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="flex justify-center">
            <a class=" inline-flex items-center mx-auto mt-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                href="{% url 'physicians:physician-create' %}">
                Add physician
            </a>
        </div>

    </div>
    
</section>


{% endblock content %}